/* svg responsive*/
/*body{
  height: 0;
  padding-top: 48%;
  position: relative;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:auto;
}

svg .active ellipse,
svg .active path,
svg ellipse.active{
  stroke:#000;
  stroke-width:.5;
}

svg polyline.active,
svg rect.active{
  opacity:1;
}
svg rect.active{
  opacity:1;
}
svg tspan.active{
  font-weight:700;
}
svg text{
  cursor: default;
}*/
