/* svg responsive*/
html,body{
  font-family:Roboto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h3{
  text-align: center
}
table{
    align: center;
    width: 80%;
}
th{
  text-align: left;
}
th span:before{
  content: '\25A0';
  font-size: large;
  margin: 3px;
}
#dif{
  color: #f59c00
}
#vol{
  color: #d7ae1c
}
#gen{
  color: #af9959
}
td, th{
  padding: 1px 20px;

}
h4{
  padding: 0 10px;
}
#fuente{
  text-align: right;
  padding: 0 10px;
  font-size: 0.8em;
}
/*body{
  height: 0;
  padding-top: 48%;
  position: relative;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:auto;
}

svg .active ellipse,
svg .active path,
svg ellipse.active{
  stroke:#000;
  stroke-width:.5;
}

svg polyline.active,
svg rect.active{
  opacity:1;
}
svg rect.active{
  opacity:1;
}
svg tspan.active{
  font-weight:700;
}
svg text{
  cursor: default;
}*/
